@using AppDomain.Entities

@model IEnumerable<UploadFile>


@{
	ViewBag.Title = "Upload Files";
}

<h2 class="mb-3">Uploaded Files</h2>

<!-- Search and Filter -->
<form method="get" class="form-inline mb-3">
	<input type="text" name="searchTerm" placeholder="Search by name or email" class="form-control mr-2" value="@Request.QueryString["searchTerm"]" />
	<br />
	<select name="fileType" class="form-control mr-2">
		<option value="">All File Types</option>
		<option value="Image">Image</option>
		<option value="PDF">PDF</option>
		<option value="Audio">Audio</option>
		<option value="Video">Video</option>
		<option value="Text">Text</option>
	</select>
	<br />
	<button type="submit" class="btn btn-primary">Search</button>
</form>
<br />
<!-- Files Table -->
<table class="table table-bordered table-striped">
	<thead>
		<tr>
			<th>File Name</th>
			<th>Type</th>
			<th>Uploaded By</th>
			<th>Email</th>
			<th>Uploaded On</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@if (Model != null && Model.Any())
		{
			foreach (var file in Model)
			{
				<tr>
					<td>@file.FileName</td>
					<td>@file.FileType</td>
					<td>@file.fName @file.lName</td>
					<td>@file.Email</td>
					<td>@file.UploadDate.ToString("g")</td>
					<td>
						<a href="@Url.Action("Download", "File", new { id = file.Id })" class="btn btn-sm btn-success">Download</a>
					</td>
				</tr>
			}

		}
		else
		{
			<tr>
				<td colspan="6" class="text-center">No files found.</td>
			</tr>
		}
	</tbody>
</table>


