@using AppDomain.Entities

@model IEnumerable<UploadFile>


@{
	ViewBag.Title = "Upload Files";
}


<h2 class="mb-3">Uploaded Files</h2>

@using (Html.BeginForm("Index", "Home", FormMethod.Get))
{
	<div class="form-group">
		<input type="text" name="search" class="form-control" placeholder="Search by file name or type" value="@Request["search"]" />
	</div>
	<br />
	<button type="submit" class="btn btn-primary">Search</button>
}

<br />
<!-- Files Table -->
<table class="table table-bordered table-striped">
	<thead>
		<tr>
			<th>File Name</th>
			<th>Type</th>
			<th>Uploaded On</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@if (Model != null && Model.Any())
		{
			foreach (var file in Model)
			{
				<tr>
					<td>@file.FileName</td>
					<td>@file.FileType @file.ImageMimeType @file.MimeType</td>
					@*<td>@file.FileData</td>*@
					<td>@file.UploadDate</td>
					<td>
						@*<a href="@Url.Action("Download", "File", new { id = file.Id })" class="btn btn-sm btn-success">Download</a>*@
					</td>
				</tr>
			}

		}
		else
		{
			<tr>
				<td colspan="6" class="text-center">No files found.</td>
			</tr>
		}
	</tbody>
</table>


