@using AppDomain.Entities
@model UploadFile

<h2>Confirm Delete</h2>
<br />
<h4>Are you sure you want to delete this file?</h4>
<br />
<div>
	<strong>File:</strong> @Model.FileName<br />
	<strong>File Type:</strong> @Model.FileType <br />
	<strong>File Upload Date:</strong> @Model.UploadDate<br />
</div>
<br />
@using (Html.BeginForm("Delete", "Admin", FormMethod.Post))
{
	@Html.AntiForgeryToken()
	@Html.HiddenFor(m => m.Id)

	<button type="submit" class="btn btn-danger">Delete</button>
	<a href="@Url.Action("Index")" class="btn btn-secondary">Cancel</a>
}
