@using AppDomain.Entities

@model IEnumerable<UploadFile>
@{
	ViewBag.Title = "Admin File Management";
}

<h2>Admin File Management</h2>

<p>
	<a href="@Url.Action("Upload")" class="btn btn-primary">Upload New File</a>
</p>

<table class="table table-bordered table-striped">
	<thead>
		<tr>
			<th>File Name</th>
			<th>Type</th>
			<th>File Data</th>
			<th>Date</th>
			<th>Actions</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var file in Model)
		{
			<tr>
				<td>@file.FileName</td>
				<td>@file.FileType @file.ImageMimeType @file.MimeType</td>
				<td>@file.FileData</td>
				@*<td>@file.fName @file.lName</td>
				<td>@file.Email</td>*@
				<td>@file.UploadDate.ToString("g")</td>
				<td>
					<a href="@Url.Action("Edit", new { id = file.Id })" class="btn btn-sm btn-warning">Edit</a>
					<a href="@Url.Action("Delete", new { id = file.Id })" class="btn btn-sm btn-danger">Delete</a>
					<a href="@Url.Action("Details", new { id = file.Id })" class="btn btn-sm btn-info">Details</a>
				</td>
			</tr>
		}
	</tbody>
</table>
