@using AppDomain.Entities
@model UploadFile

<h2>Confirm Delete</h2>

<h4>Are you sure you want to delete this file?</h4>
<div>
	<strong>File:</strong> @Model.FileName<br />
	<strong>Uploaded By:</strong> @Model.fName @Model.lName<br />
	<strong>Email:</strong> @Model.Email<br />
</div>

@using (Html.BeginForm("DeleteConfirmed", "File", FormMethod.Post))
{
	@Html.AntiForgeryToken()
	@Html.HiddenFor(m => m.Id)

	<button type="submit" class="btn btn-danger">Delete</button>
	<a href="@Url.Action("Admin")" class="btn btn-secondary">Cancel</a>
}
