@using AppDomain.Entities
@model UploadFile

<h2>Edit File Metadata</h2>

@using (Html.BeginForm())
{
	@Html.AntiForgeryToken()

	@Html.HiddenFor(m => m.Id)

	<div class="form-group">
		@Html.LabelFor(m => m.fName)
		@Html.TextBoxFor(m => m.fName, new { @class = "form-control" })
	</div>

	<div class="form-group">
		@Html.LabelFor(m => m.lName)
		@Html.TextBoxFor(m => m.lName, new { @class = "form-control" })
	</div>

	<div class="form-group">
		@Html.LabelFor(m => m.Email)
		@Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
	</div>

	<div class="form-group">
		@Html.LabelFor(m => m.Phone)
		@Html.TextBoxFor(m => m.Phone, new { @class = "form-control" })
	</div>

	<button type="submit" class="btn btn-warning">Save Changes</button>
	<a href="@Url.Action("Admin")" class="btn btn-secondary">Cancel</a>
}
